name: Lint and Test
run-name: ${{ github.actor }} is lint and testing
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  run-linters-and-tests:
    name: Run linters and tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: yarn install --frozen-lockfile

      - name: Formatting
        run: yarn prettier --write
      - name: Linting
        run: yarn lint:fix

      - name: Tests
        run: yarn test

